.Button {
  color: #707070;
  font-size: 1rem;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
}

a {
  text-decoration: none;
}

li {
  cursor: pointer;
  list-style: none;
}
